body {
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
}
.uk-background-primary, .uk-card-primary, .uk-card-primary:hover {
    background-color: #5a7897 !important;
}

.uk-background-pink, .uk-card-pink{
    background-color: #E8A683;
}

.uk-background-yellow, .uk-card-yellow {
    background-color: #E8BF83;
}
