body {
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
}
textarea { resize: none; }
.uk-background-primary, .uk-card-primary, .uk-button-primary, .uk-card-primary:hover {
    background-color: #5a7897 !important;
}

.uk-background-pink, .uk-card-pink{
    background-color: #E8A683;
}

.uk-background-yellow, .uk-card-yellow {
    background-color: #E8BF83;
}
.uk-offcanvas-bar-light {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -270px;
    box-sizing: border-box;
    width: 270px;
    padding: 20px 20px;
    background: #f8f8f8;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.uk-offcanvas-bar-animation {
    transition: left 0.3s ease-out;
}
@media (min-width: 960px) {
    .uk-offcanvas-bar-light {
        left: -350px;
        width: 350px;
        padding: 40px 40px;
    }
}
.uk-offcanvas-flip .uk-offcanvas-bar-light {
    left: auto;
    right: -270px;
}
.uk-offcanvas-flip .uk-offcanvas-bar-animation {
    transition-property: right;
}
.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar-light {
    left: auto;
    right: 0;
}
@media (min-width: 960px) {
    .uk-offcanvas-flip .uk-offcanvas-bar-light {
        right: -350px;
    }
}
.uk-offcanvas-flip .uk-offcanvas-reveal .uk-offcanvas-bar-light {
    left: auto;
    right: 0;
}
.uk-offcanvas-reveal .uk-offcanvas-bar-light {
    left: 0;
}
.uk-open > .uk-offcanvas-bar-light {
    left: 0;
}
.text-shadow {
    text-shadow: 1px 1px 3px #000;
}

.slider-text {
    background-color: #E8D483;
    color: rgba(0, 0, 0, 0.6);
}

.uk-alert-success {
    background-color: #7fd584;
    color: #03660c;
}

.uk-button-success {
    background-color: #04820f;
    color: #fff;
}

.uk-button-success:hover {
    background-color: #026509;
    color: #fff;
}
